<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <span>Sirius</span>

    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="accent" routerLink="/account/signin" *ngIf="(signedIn | async) === false">Sign in</button>
    <button mat-raised-button color="primary" routerLink="/account/signup" *ngIf="(signedIn | async) === false">Sign up</button>
    <span *ngIf="!!user">{{ user.userName }}&nbsp;&nbsp;</span>
    <button mat-raised-button color="primary" (click)="logout()" *ngIf="signedIn | async">Sign out</button>
  </mat-toolbar-row>
</mat-toolbar>
